.hidden {
	display: none;
}

* {
	margin: 0px;
	padding: 0px;
}

div, body > header, nav, section, footer, h1, h2, h3, h4, h5, h6 {
	padding: 4px;
}

p {
	padding: 8px 16px;
}

body {
	background-color: rgb(23, 19,  19);
	color: rgb(247, 247, 247);
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
	text-align: center;
}

form#google-search { 
    background-color: transparent;
	margin: 0;
	overflow: hidden;
	text-align: center;
}
form#google-search input[type="text"]#search {
	background: #f7f7f7 url('../images/search.svg') 3px center no-repeat;
	border: 1px solid rgba(0, 0, 0, 0.8) !important;
	border-radius: 3px !important;
	height: 10px !important;
	padding: 8px 4px 8px 26px !important;
	width: 75%;
}
form#google-search input[type="submit"] {
	background-color: #4a8bf4;
	border: 1px solid rgba(0, 0, 0, 0.8) !important;
	border-radius: 3px !important;
	color: #f7f7f7;
	cursor: pointer;
	font-weight: bold;
	height: 28px;
	padding: 4px 16px;
}



#site-wrapper {
	background-color: rgb(247, 247, 247);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 2px 4px rgba(255, 255, 255, 0.1);
	color: rgb(23, 19,  19);
	margin: 0px 192px 32px;
	padding: 0px;
	text-align: left;
}

div#site-wrapper > header {
	background-color: rgba(0, 0, 0, 0.8);
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: #d9d9df;
	font-weight: bold;
	padding: 16px 8px;
	text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
}

div#site-wrapper > header a {
	color: inherit;
	text-decoration: inherit;
}

div#site-wrapper > section {
	padding: 12px;
}

/**
 * Navigation bar styling
 */
menu#navigation {
	background-color: rgba(0, 0, 0, 0.8);
	background-image: url('../images/user-bar-gloss.png');
	background-position: top left;
	background-repeat: repeat-x;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	color: #808080;
	font-size: 0.8em;
	height: 40px;
	list-style-type: none;
	overflow: visible;
	width: 100%;
	z-index: 99999;
}
menu#navigation > li {
	float: left;
	position: relative;
}
menu#navigation > li:nth-child(2n+2) {
    background-color: rgba(255, 0, 0, 0.3);
}
menu#navigation > li:first-child a {
	background-image: url('../images/home.svg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}
menu#navigation > li a, menu#navigation > li button {
	border: 0px none transparent;
	color: #808080;
	cursor: pointer;
	display: block;
	font-weight: bold;
	text-decoration: none;
}
menu#navigation > li a {
	border-bottom: 0px none transparent;
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 0px none transparent;
}
menu#navigation > li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #8f8f8f;
	text-decoration: underline;
}
menu#navigation > li.right {
	float: right !important;
}
menu#navigation > li.right > a {
	color: #f00000;
}
menu#navigation > li.right > a:hover {
	color: #ff0f0f;
}
menu#navigation > li.right:hover > menu {
	right: 0px;
}
menu#navigation > li > *:first-child {
	background-color: transparent;
	display: block;
	height: 40px;
	padding: 8px 16px 8px;
}
menu#navigation > li > a:first-child {
	height: 24px;
	padding: 10px 16px 6px;
}
menu#navigation > li > menu {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	color: #808080;
	display: none;
	list-style-type: none;
	z-index: 99999;
}
menu#navigation > li > menu a {
	color: #d9d9df;
	font-size: 1.1em;
	padding: 6px 16px;
}
menu#navigation > li:hover > menu {
	border-radius: 0px 0px 4px 4px;
	display: block;
	position: absolute;
	text-align: left;
	top: 37px;
}
menu#navigation > li:hover > menu li {
	min-width: 160px;
	white-space: nowrap;
}


nav.breadcrumbs {
	color: #404040;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0px auto;
	padding: 8px;
	position: relative;
}
nav.breadcrumbs a {
	color: inherit;
	text-decoration: none;
}
nav.breadcrumbs a.btt {
	bottom: 12px;
	color: #c0c0c0;
	font-size: 0.8em;
	font-weight: normal;
	position: absolute;
	right: 12px;
	text-decoration: underline;
}

nav.breadcrumbs a:hover {
	color: #606060;
	text-decoration: underline;
}
nav.breadcrumbs ol {
	list-style-type: none;
	overflow: hidden;
}
nav.breadcrumbs ol li {
	float: left;
	padding: 2px 4px;
}
nav.breadcrumbs ol li:nth-child(1n+2):before {
	content: "\bb";
	padding: 2px 8px 2px 0px;
}
nav.breadcrumbs ol li:last-child a {
	text-decoration: underline;
}

body > footer {
	border-top: 1px dotted rgba(128, 128, 128, 0.2);
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
}


ol[class|="code"] {
	background-color: rgb(23, 19, 19);
	border: 1px dotted rgba(128, 128, 128, 0.4);
	border-radius: 4px;
	color: rgb(151, 215, 11);
	display: block;
	font-size: 0.8em;
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	margin: 16px auto;
	padding: 2px 8px;
	width: 80%;
	
}
ol[class|="code"] li:nth-child(2n+1) { background-color: rgba(128, 128, 128, 0.1); }
ol[class|="code"] li:nth-child(2n+2) { background-color: rgba(128, 128, 128, 0.2); }
ol pre {
	display: inline;
	white-space: pre-wrap;
}

ol[class*="php"] code.comment {
	color: rgb(203, 195, 195);
}
ol[class*="php"] code.function {
	border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
	color: inherit; /*rgb(23, 19, 19);*/
}
ol[class*="php"] code.keyword {
	color: rgb(103, 99, 255);
}
ol[class*="php"] code.string1 {
	color: rgb(243, 215, 91);
}
ol[class*="php"] code.string2 {
	color: rgb(95, 155, 67);
}
ol[class*="php"] code.tag {
	color: rgb(139, 191, 243);
}
ol[class*="php"] code.variable {
	color: rgb(227, 39, 39);
}
/*code.c {
	
}

code.python, code.py {

}

code.php {

}

code.css {

}

code.html {

}
*/
