<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>akoimeexx.github.io &sdot; {{ page.title }}</title>
        <link rel="shortcut icon" href="{{ site.url }}/media/images/favicon.svg" sizes="any" type="image/svg+xml">
        <link href="{{ site.url }}/media/css/reset.css" rel="StyleSheet" type="text/css" />
        <link href="{{ site.url }}/media/css/stylesheet.css" rel="StyleSheet" type="text/css" />
        <link href="{{ site.url }}/media/css/github.css" rel="StyleSheet" type="text/css" />
        
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
            
        </script>
        <script type="text/javascript" src="{{ site.url }}/media/js/site.js"></script>
        
        <!--
            Link to page with RSS feed (http://vagabondhacker.wordpress.com/) 
            pulled via Google Feed api.
            See here for pulling wordpress blog feed into /blog/
            https://developers.google.com/feed/v1/devguide
        -->
    </head>
    <body>
        <menu type="toolbar" id="navigation">
            <li><a href="{{ site.url }}/" title="Home"></a></li>
            <li><a href="{{ site.url }}/journal/">Journal</a>
                <ul>{% for post in site.posts limit:5 %}
                    <li><span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                </ul>
            </li>
            <li><a href="{{ site.url }}/projects/">Projects</a>
                <ul>{% for category in site.data.categories %}{% if category.publish == true %}
                    <li class="category-{{ category.slug }}"><strong>{{ category.title }}</strong></li>{% for project in site.data.projects %}{% if project.category == category.slug and project.publish == true %}
                    <li><a href="{{ site.url }}/projects/{{ project.slug }}/">{{ project.title }}</a></li>{% endif %}{% endfor %}
                    <li><hr /></li>{% endif %}{% endfor %}
                </ul>
            </li>
            <li class="right" style="background: linear-gradient(to bottom, #4a8bf4 0%, #2a6bd4 50%, #1a5bc4 51%);">
                <form id="search">
                    <input type="text" name="q" id="q" placeholder="Type your search term&hellip;" required />
                </form>
            </li>
        </menu>
        <section id="content">
