<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>akoimeexx.github.io &sdot; {{ page.title }}</title>
        <link rel="shortcut icon" href="{{ site.url }}/media/images/favicon.svg" sizes="any" type="image/svg+xml">
        <link href="{{ site.url }}/media/css/reset.css" rel="StyleSheet" type="text/css" />
        <link href="{{ site.url }}/media/css/stylesheet.css" rel="StyleSheet" type="text/css" />
        <link href="{{ site.url }}/media/css/github.css" rel="StyleSheet" type="text/css" />
        
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
            
        </script>
        <script type="text/javascript" src="{{ site.url }}/media/js/site.js"></script>
        
        <!--
            Link to page with RSS feed (http://vagabondhacker.wordpress.com/) 
            pulled via Google Feed api.
            See here for pulling wordpress blog feed into /blog/
            https://developers.google.com/feed/v1/devguide
        -->
    </head>
    <body>
        <menu type="toolbar" id="navigation">
            <li><a href="{{ site.url }}/" title="Home"></a></li>
            <li><a href="{{ site.url }}/journal/">Journal</a>
                <ul>{% for post in site.posts limit:5 %}
                    <li><span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span><a href="{{ site.url }}{{ post.url }}/">{{ post.title }}</a></li>{% endfor %}
                </ul>
            </li>
            <li><a href="{{ site.url }}/projects/">Projects</a>
                <ul>
                    <!--
                    <li><strong>Android Development:</strong></li>
                    <li><a href="{{ site.url }}/projects/"><strike>Cerberus Webserver</strike></a></li>
                    <li><a href="{{ site.url }}/projects/"><strike>Zombie Sharks!</strike></a></li>
                    <li><hr /></li>
                    -->
                    <li><strong>Embedded:</strong></li>
                    <!--<li><a href="https://gist.github.com/akoimeexx/2216018" rel="external">Atmel Attiny85 Code</a></li>-->
                    <li><a href="{{ site.url }}/projects/arc/">&ldquo;ARC&rdquo; &sdot; Automated Robotic Carrier</a></li>
                    <li><a href="{{ site.url }}/projects/e-cycle/">Electric Motorcycle rebuild</a></li><!-- Motor controller wired up, figure out a way to mount motor into frame and connect sprocket to output shaft. -->
                    <!--<li><a href="{{ site.url }}/projects/electric-mask/"><strike>Electronic Acrylic Mask</strike></a></li>-->
                    <!--<li><a href="{{ site.url }}/projects/amp/"><strike>Guitar Amplifier</strike></a></li>-->
                    <li><a href="{{ site.url }}/projects/keyboard/">IBM Model M Terminal Keyboard rebuild</a></li>
                    <!--<li><a href="{{ site.url }}/projects/save-manager/"><strike>NDS Save Manager</strike></a></li>-->
                    <li><a href="{{ site.url }}/projects/unet/">uNet &sdot; OpenWRT TP-Link Router Network</a></li><!-- Super geek network. two DDWRT-flashed routers, NAS, & Mac Mini, Uninterruptible Power Supply -->
                    <!--<li><a href="{{ site.url }}/projects//staves/">Wizard's Staves</a></li>--><!-- twisted roots with rgb led, carved shaft; Walking Sticks -->
                    <li><hr /></li>
                    <li><strong>Web:</strong></li>
                    <li><a href="{{ site.url }}/projects/ac-pattern/">AC Pattern Editor</a></li>
                    <li><a href="{{ site.url }}/projects/euphorumbb/">EuphorumBB &sdot; PHP Forum framework</a></li>
                    <!--<li><a href="{{ site.url }}/projects/"><strike>PHP Class Modules</strike></a></li>-->
                    <li><a href="{{ site.url }}/projects/pkmn/">Pokemon XML Renderer</a></li>
                    <li><hr /></li>
                    <li><strong>Other:</strong></li>
                    <!--<li><a href="{{ site.url }}/projects/">Chainmaille-Leather Bracers</a></li>-->
                    <li><a href="{{ site.url }}/projects/guitar/">Custom Electric Guitar</a></li>
                    <!--<li><a href="{{ site.url }}/projects/">Oper.bashrc</a></li>--><!-- .bashrc config file for streamlined sysadmin'ing -->
                </ul>
            </li>
            <li class="right">
                <form class="google-search" id="cse-search-box" action="https://www.google.com/cse/publicurl" method="get" target="_blank">
                    <input type="hidden" name="cx" value="000616373977145830974:hfjmfzh8xtk" />
                    <input type="text" name="q" id="search" placeholder="Type your search term&hellip;" required />
                    <!--<input type="hidden" name="q" value="site:{{ site.url }}/" />-->
                    <input type="submit" title="Google Search" value="Search &raquo;" />
                </form>
            </li>
        </menu>
        <section id="content">