{% if paginator.total_pages > 1 %}
            <ul class="paginator">
                <li>{% if paginator.previous_page %}
                    <a href="{{ site.url }}{{ paginator.previous_page_path | replace: '/index.html', '' }}/">&laquo;</a>{% else %}
                    <span>&laquo;</span>{% endif %}
                </li>{% for page in (1..paginator.total_pages) %}
                <li>{% if page == paginator.page %}
                    <em>{{ page }}</em>{% elsif page == 1 %}
                    <a href="{{ site.url }}{{ site.paginate_path | replace: 'page-:num', '' }}">{{ page }}</a>{% else %}
                    <a href="{{ site.url }}{{ site.paginate_path | replace: ':num', page }}/">{{ page }}</a>{% endif %}
                </li>{% endfor %}
                <li>{% if paginator.next_page %}
                    <a href="{{ site.url }}{{ paginator.next_page_path }}/">&raquo;</a>{% else %}
                    <span>&raquo;</span>{% endif %}
                </li>
            </ul>{% endif %}